.navbar{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    backdrop-filter: blur(5px);
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: rgb(1, 1, 15);
    font-size: 40px;
    font-weight: 900;
}
   